/* RESET */
*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
    color: white;
}


.container{
    width: 1000px;
    margin:auto;
    position: relative;
}



header{
    width: 1000px;
    position:relative;
    background-color: #5700FF;
    text-align: center;
    height: 50px;
    color: white;
}


header p{
    font-weight: 600;
    font-size: 24px;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
}




/* RESPONSIVITY */
@media (max-width:576px) {
    header{
        width:480px;
        font-size: 40px;
        padding-bottom: 20px;
    }
    
}
@media (max-width:768px) {
    header{
        width:720px;
        font-size: 40px;
        padding-bottom: 20px;
    }
    
}




/* CONTENT */


 section{
    
    height: 500px;
    width: 1000px;
    margin:auto;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.background{
    
    background:  url("https://i.redd.it/52f61nfzmwl51.jpg")no-repeat;
    width: 1000px;
    height: 500px;
    background-size: cover;

    
}


.div-content{
    
    
    padding: 20%;
    font-size: 15px; 
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;

}

.div-content article{
    background-color: #3D00B2;
    padding: 20%;
    border-radius: 70%;
    
}


.div-content p{
    padding: 10px;
    text-indent: 4px;
    color: #FF9119;
    font-size: 15px;
    
    
}


.div-form{
    
    position: relative;
}

.card{
     position: absolute;
     
     width: 60%;
     height: 70%;
     top: 50%;
     left: 50%;
     transform: translate(-50%,-50%);
     border-radius: 10px;
     background-color: rgba(220, 220, 220, 0.4);
     
}

.card-container{
    position: absolute;
    width: 80%;
    height: 80%;
    
    margin:auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
   
}


/* FORM */


form{
    padding: 5%;
}

form h2{
    text-align: center;
    margin-bottom: 25px;
    margin-top: 5px;
}


.input-form{
    width: 100%;
    margin-bottom: 10px;
    height: 40px;
    border-radius: 10px ;
    border-style: none;
    padding-left: 1px;
    text-align: center;
    font-weight: 600;
    color: gray;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* BUTTON FORM */

.btn-submit{
    position: relative;
    width: 100%;
    height: 60px;
    border-style: none;
    border-radius: 5px;
    background-color:#09B225;
    color: white;
    font-style: italic;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
}




/* FOOTER */


footer{
    background-color: #5700FF;
    color:white;
    text-align: center;
    position: relative;
    height: 100px;
}

footer p{
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
}